* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 45px;
  font-family: Poppins;
  font-style: normal;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-family: "Spline Sans", sans-serif;
  font-size: 25px;
}
p {
  color: #434343;
  font-family: "Poppins", sans-serif;
  font-family: "Spline Sans", sans-serif;
}
body {
  background-color: FFFFFF;
}

/* section2 */

.section1 {
  width: 100%;
  height: 593px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 0px;
  display: flex;
  overflow: hidden;
}
.div1 {
  height: 100%;
  width: 50%;

  overflow: hidden;
  float: left;
  padding-top: 80px;
  padding-left: 120px;
}
.div1 {
  font-family: "Spline Sans", sans-serif;
}

.div2 {
  width: 50%;
  height: 100%;
  padding: 80px;
}
.redline {
  height: 90px;
  width: 5px;
  background-color: #ffad5a;
  margin-right: 15px;
}
.subdiv {
  display: flex;
}

#orange {
  color: #ffad5a;
  margin-left: 15px;
  margin-top: -38px;
  font-family: "Spline Sans", sans-serif;
}
.div1 p {
  margin-top: 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #3e3e3e;
  margin-left: px;
}
.changfont {
  font-family: "Spline Sans", sans-serif;
}

#explore {
  padding: 10px 28px;
  background-color: #ff5959;
  text-decoration: none;
  color: #ffff;
  border-radius: 5px;
}

.explorebut {
  margin-top: 90px;
}
#topimage {
  width: 50%;
  margin-left: 250px;
  margin-top: -100px;
}
#scroll {
  font-weight: bold;
}

/* section2 */

.section2 {
  width: 100%;
  height: 593px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 0px;

  overflow: hidden;
  text-align: center;
}
.section2 p {
  margin-top: 30px;
}
.title {
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-family: "Spline Sans", sans-serif;
}
.main {
  display: flex;
  width: 80%;

  height: 80%;
  margin: auto;
  margin-top: 70px;
}
.missons {
  margin-right: 90px;
}
.misson1 {
  width: 360px;
  height: 376px;
  background: rgba(79, 157, 166, 0.1);
  margin-right: 45px;
  border-radius: 26px;
  overflow: hidden;
  padding: 10px;
}
.misson1 img {
  width: 45%;
  margin-bottom: 15px;
}
.misson2 {
  width: 360px;
  height: 376px;
  background: rgba(255, 89, 89, 0.1);
  margin-right: 45px;
  border-radius: 26px;
  overflow: hidden;
  padding: 10px;
}
.misson2 img {
  width: 45%;
  margin-bottom: 15px;
}
.misson3 {
  width: 360px;
  height: 376px;
  background: #fff4d6;
  margin-right: 45px;
  border-radius: 26px;
  overflow: hidden;
  padding: 10px;
}
.misson3 img {
  width: 45%;
  margin-bottom: 15px;
}

/* Section 3 */

.section3 {
  width: 100%;
  height: 593px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 0px;

  overflow: hidden;
  text-align: center;
  display: flex;
}

.divforimg {
  height: 100%;
  width: 50%;
  background-image: url("images/shape-1.png");
  background-repeat: no-repeat;
  overflow: hidden;
  float: left;
  padding-top: 80px;
  padding-left: 70px;
}
.divforimg img {
  width: 400px;
  height: 400px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
}

.divfortext {
  height: 100%;
  width: 50%;

  overflow: hidden;
  float: right;
  padding-top: 80px;
  padding-left: 10px;
  text-align: left;
  padding-top: 150px;
}
.divfortext p {
  width: 654px;
  height: 120px;
  padding-top: 30px;
}
.rtdbutton {
  overflow: hidden;
  padding: 15px 20px;
  background: #ff5959;
  border-radius: 5px;
  width: 243px;
  text-align: center;
}
.rtdbutton a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/* section4 */

.section4 {
  width: 100%;
  height: 593px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 0px;

  overflow: hidden;
  text-align: center;
  display: flex;
}
.sec4text {
  width: 50%;
  height: 100%;
  text-align: left;
  padding-left: 160px;
  padding-top: 150px;
}
.sec4text p {
  width: 700px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sec4img {
  width: 50%;
  height: 100%;
  padding-left: -160px;
}
.sec4img img {
  width: 70%;
  padding-top: 60px;
  padding-right: 100px;
  border-radius: 30px;
}
/* section */
.section5 {
  width: 100%;
  height: 650px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 0px;

  overflow: hidden;
  text-align: center;
}
.text {
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-family: "Spline Sans", sans-serif;
  padding-bottom: 20px;
}
.pricing {
  width: 80%;
  height: 600px;
  margin: auto;
  display: flex;
}
.basic {
  margin-right: 70px;
  width: 250px;
  height: 250px;
  padding: 10px;
  background-color: #e8f8fa;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  overflow: hidden;
  padding: 15px;
}
.standard {
  width: 250px;
  height: 400px;
  padding: 10px;
  background-color: #ffeeee;
  margin-right: 70px;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  overflow: hidden;
}
.premium {
  width: 250px;
  height: 450px;
  padding: 10px;
  background-color: #fcf0cb;
  margin-right: 70px;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  overflow: hidden;
}
.prisingoption {
  margin: auto;
  display: flex;
}

ul {
  margin-top: 25px;
}

li {
  list-style: none;
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 18px;
  font-family: "Spline Sans", sans-serif;
}
.selectbut {
  color: white;
  overflow: hidden;
  padding: 10px 15px;
  background: #ff5959;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: auto;
  margin-top: 55px;
}
.selectbut a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.selectbut1 {
  overflow: hidden;
  padding: 10px 15px;
  background: #ff5959;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: auto;
  margin-top: 15px;
}
.selectbut1 a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
footer {
  width: 100%;
  height: 150px;
  background: #0b0d17;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 30px;
  font-family: Lobster;
  font-style: normal;
}
.red {
  color: #ff5959;
}
#footerp {
  color: white;
}
